{
	"env": {
		"jest/globals": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:editorconfig/all",
		"plugin:jest/recommended",
		"next",
		"next/core-web-vitals"
	],
	"plugins": [
		"editorconfig",
		"jest"
	],
	"rules": {
		"editorconfig/indent": [
			"error",
			{
				"SwitchCase": 1
			}
		],
		"@typescript-eslint/ban-ts-comment": [
			"error",
			{
				"ts-expect-error": "allow-with-description"
			}
		]
	}
}
