.largecontainer,
.container {
	margin: 1em 0;
	padding: 1em;
    border-left-style: outset;
    color: gray;
}

.largecontainer p {
    font-size: 3rem;
}

.container cite,
.container p {
    display: inline;
}

.largecontainer cite {
    display: block;
    text-align: right;
}

.largecontainer cite:before,
.container cite:before {
    padding-right: 0.5em;
    padding-left: 2em;
    content: ' \2014 ';
}